.body{
    font-family: sans-serif;
    width: 1200px;
}

.noticias{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-image: url("./img/fondo.png");
}

.noticia{
    display: flex;
    width: 600px;
}