.body{
    font-family: sans-serif;
    width: 1200px;
}

.noticias{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.noticia{
    display: flex;
    width: 600px;
}