body{
    font-family: cursive;
    width: 1200px;
    margin-riht: auto;
    margin-left: auto;
}

.miembros{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 40px;
}
.miembros__contenedor{width: 25%;}